

.card {
width: auto;
height: auto;
padding-top: 15px;
padding-bottom: 30px;
background-color: #fff;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.delete-button {
background-color: #ffffff;
color: rgb(0, 0, 0);
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.505);
border: none;
height: 28px;
width: 28px;
margin-left: 15px;
border-radius: 5px;
padding: 7px;
font-size: 14px;
cursor: pointer;
transition: background-color 0.7s ease-in-out;
}

.card-header {
display: flex;
flex-direction: row;
justify-content: center;
text-align: center;
align-items: center;
font-size: 15px;
margin-bottom: 5px;
margin-top: -10px;
}

.card-body {
margin-top: -20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

p {
font-size: 20px;
margin-bottom: 10px;
}

.price {
color: #3cff00;
font-size: 22px;
font-weight: bolder;
margin-bottom: 10px;
}


 
  .card.green {
    background-color: rgba(0, 255, 0, 0.353);
  }
  .card.green2 {
    background-color: rgba(0, 255, 0, 0.502);
  }
  .card.green3 {
    background-color: rgba(0, 255, 0, 0.656);
  }
  .card.green3 .price{
    color: #3cff00;
  }
  .card.green4 {
    background-color: rgba(0, 255, 0, 0.802);
  }
  .card.green4 .price{
    color: #f2ff00;
  }
  
  .card.red {
    background-color: rgba(255, 0, 0, 0.352);
  }
  .card.red2 {
    background-color: rgba(255, 0, 0, 0.45);
  }
  .card.red3 {
    background-color: rgba(255, 0, 0, 0.657);
  }
  .card.red4 {
    background-color: rgba(255, 0, 0, 0.804);
  }
  
  .card.gray {
    background-color: rgba(128, 128, 128, 0.607);
  }