.modal {
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}

.modal-main {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  color: black;
}

.modal-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding-right: 20px;
}

.modal-market-cap {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.modal-price-to-sales-ratio,
.modal-pe-ratio,
.modal-quarterly-rev-growth,
.modal-quarterly-earn-growth,
.modal-gross-profit-margin,
.modal-net-income-margin,
.modal-return-on-equity,
.modal-description {
  font-size: 17px;
  margin-bottom: 8px;
}
