@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');

.grid {
    display: grid;
    list-style-type: none;
    padding-top: 30px;
    grid-template-columns: repeat(3, 1fr); /* 2 columns */
    grid-template-rows: repeat(8, 1fr); /* 11 rows */
  }

  .company {
    text-align: center;
    margin-top: 14px;
    margin-bottom: 14px;
    border-radius: 50%;
    transition: transform 2s;
    animation: rotate 2s linear infinite;
    box-shadow: 2px 2px 2px 2px; 
  }

  .company p {
    color: black;
    font-size: 16px;
    margin-top: 7px;
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
  }
  .logo {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 8px 8px 8px 8px;
}